*{
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; /* jo bhi padding ya kuch or ho vo box ke andar aye */
}

/* Header Css */
header{
    display: flex;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbc4d7;
}
.myntra_home{
    height:45px;
}
.logo_cont{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px; /* min width honi chahiye */
    justify-content: space-between;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: #282c3f;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom:3px solid white;
    padding-top: 28px;
    padding-bottom:29px;
}

.nav_bar a:hover{
    border-bottom:3px solid red;
}
.nav_bar a sup{
    font-size: 10px;
    color: red;
    font-weight: 700;
}
.search_bar{
height: 40px;
min-width: 200px; /* isse chota search ko nhi karna */
width: 30%;
display: flex;
align-items: center; /* align item cross eaxis me center kar dega */

}
.search_icon{
box-sizing:content-box ;
height: 20px;
padding: 10px;
background-color: #f5f5f6;
color: gray ;
border-radius: 4px 0 0 4px;
}
.search_b{
background-color: #f5f5f6;
color: #696e79;
flex-grow: 1; /* search input whill take whole remaining place */
height: 40px;
border: none;
border-radius: 0 4px 4px 0; /*LT,RT,RB,LB */
}

.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:3px solid white;
    padding-top: 22px;
    padding-bottom:9px;
}

.action_container:hover{
    cursor: pointer;
    border-bottom:3px solid red;
}

/* Main CSS */
.banner_container{
    margin:40px 0; /* margin top and bottom */
}

.banner_img{
    width: 100%; /* now it scales according to the page */
}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 10px;
    max-height: 5em;
    font-weight: 700;
}

.category_items{
    display: flex;
    flex-wrap: wrap; /* taaki jab resposnive banaye toh image next line me apne aap chali jaye */
    justify-content: space-evenly;
}

.sales_item{
    width: 250px;

}

/* footer css */
.footer_cont{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 700;
}
.footer_column a{
    font-size:14px;
    color: #696b79;
    padding-bottom: 5px;
    text-decoration: none;
}

/* copyright */
.copyright{
    display: flex;
    flex-wrap: wrap;
    color: #94969f;
    text-align: end;
    justify-content: right;
    padding: 15px;
}
.copyright span{
    margin-right: 10px;
}